.DS_Store

# Client
client/node_modules
client/dist
client/public/wasm
client/coverage/**
client/public/assets/weapons/cc0/kenney_blaster_kit/bullet-foam.glb

# Server
server/build
server/certs/*.pem
server/coverage

# WASM
shared/wasm/dist

# Logs
*.log

# Coverage
coverage/

# Misc
kenney_city-kit-suburban_20
