.DS_Store

# Client
client/node_modules
client/dist
client/public/wasm
client/coverage/**

# Server
server/build
server/certs/*.pem
server/coverage

# WASM
shared/wasm/dist

# Logs
*.log

# Misc
kenney_city-kit-suburban_20
