version: "3.9"
services:
  turn:
    image: coturn/coturn:4.6.2
    restart: unless-stopped
    ports:
      - "3478:3478/udp"
      - "3478:3478/tcp"
      - "5349:5349/tcp"
      - "49160-49200:49160-49200/udp"
    volumes:
      - ./turnserver.conf:/etc/coturn/turnserver.conf:ro
      - ./certs:/etc/coturn/certs:ro
    command: ["-c", "/etc/coturn/turnserver.conf"]
